/* Navbar */
.nav-item {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 20px;
}

.dropdown-item {
  font-size: 1.5rem;
}

.signin,
.signup {
  background-color: transparent;
  border: none;
}

.signin:hover,
.signup:hover {
  border: none;
  transform: translateY(-3px);
}

/* Main Menu */
.hero-section {
  padding: 50px 0;
}

/* .hero-section_2 {
  padding: 20px 10;
} */

.hero-text {
  color: #2c3e50;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  color: #7f8c8d;
}

.supported-by {
  margin-top: 30px;
}
.supported-by img {
  max-width: 100px;
  margin: 0 10px;
}
.pet-images img.desktop {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pet-images img.mobile {
  display: none;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .signin {
    margin-bottom: 15px;
  }
  .supported-by {
    margin-bottom: 50px;
  }
  .pet-images img.desktop {
    display: none;
  }
  .pet-images img.mobile {
    display: block;
  }
}

/* Login Dan Sign Up */
.box-area {
  width: 930px;
}

.right-box {
  padding: 40px 30px 40px 40px;
}
::placeholder {
  font-size: 16px;
}
.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    display: none !important;
  }
  .right-box {
    padding: 20px;
  }
}
