@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0;
  @apply p-0;
  @apply overflow-x-hidden;
  @apply scroll-smooth;

}

.blinking-cursor {
    font-weight: 100;
    font-size: 24px;
    color: #ffffff;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

